

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LinkedIn Scrapper</title>

    </head>

    <body>
        <form action = "/submit-page" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username"><br>
            <label for = "information">Information to send:</label>
            <input type="text" id="information" name="information"><br>
            <input type="submit"><br>
        </form>

        

        <script src="app/static/js/home.js"></script>
    </body>

    
</html>